<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantry Chef</title>
<!-- Style Reset-->
    <link rel="stylesheet" type="text/css" href="css/reset.css">
<!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Overpass&family=Sansita:wght@900&display=swap" rel="stylesheet">
<!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<!-- MY CSS -->
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
<header>
    <div>
        <nav class="navbar navbar-light navbar-expand-lg px-4 fixed-top">
            <a class="navbar-brand brand" href="#">
                <img class="logo m-1" src="images/PantryChefLogoWhite.png" alt="">
            </a>
            <span class="logotext d-none d-sm-block">Pantry Chef</span>
            <!-- Collapse Button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Collapsible Content -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <!-- Nav Links -->
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#ingredient-form">Ingredients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">My Favorites</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#signup-form">Sign Up / Log In</a>
                    </li>
                    <ul class="nav navbar-nav navbar-right">
					{{# if loggedin}}
						<li><button class="btn btn-outline-light" type="submit" href="/logout">Log Out</button></li>
					{{else }}
						<li><button class="btn btn-outline-light" type="submit" href="/login">Log In</button></li>
					{{/if}}
                    </ul>    
                </ul>
            </div>
        </nav>
    </div>
</header>

{{{body}}}

<!-- Credits -->
    <footer class="footer">
        <ul class="nav justify-content-center align-items-center p-3">
            <li class="nav-item">
                <a class="footer-link" href="https://github.com/Lumin-El" target="_blank">Joel Vazquez</a>
            </li>
            <li class="nav-item">
                <a class="footer-link" href="https://github.com/samanthajrexroat" target="_blank">Samantha Rexroat</a>
            </li>
            <li class="nav-item">
                <a class="footer-link" href="https://github.com/jmg5369" target="_blank">Max Gorodesky</a>
            </li>
            <li class="nav-item">
                <a class="footer-link" href="https://github.com/tracyewilhelm" target="_blank">Tracye Willhelm</a>
            </li>
            <li class="nav-item">
                <a class="footer-link" href="https://github.com/Michael-Bee" target="_blank">Michael Bee</a>
            </li>
        </ul>
    </footer>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="js/index.js"></script>
    <script src="./js/login.js"></script>
    {{!-- <script src="js/logout.js"></script> --}}
    <script src="js/signup.js"></script>
    {{!-- <script src="js/userFavorites.js"></script> --}}
</body>
</html>