{{!-- <!-- Sign Up Modal -->
<div class="modal fade" id="signUpModal">
    <div class="modal-dialog">
        <div class="modal-content animate signup-form">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create New User:</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span class="close" title="Close Modal" aria-hidden="true">&#10006</span>
                </button>
            </div>
            <form id="signup-form">
                <div class="container d-flex flex-column align-items-end">
                    <div class="mt-2">
                        <label><b>Username</b></label>
                        <input type="text" placeholder="Username" name="username" required id="username-signup">
                    </div>
                    <div class="mt-2">
                        <label><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="psw" id="password-signup" required>
                    </div>
                    <div class="mt-2">
                        <label><b>Repeat Password</b></label>
                        <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
                    </div>
                    <div class="modal-footer mt-2">
                        <div>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Sign Up</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> --}}

<!-- Homepage -->
    <div class="jumbotron jumbotron-fluid p-4">
        <div class="container text-center">
            <img class="img-fluid home-image" src="images/home_ingredients.jpg" alt="Ingredients">
            <h1 class="display-4">What's for dinner?</h1>
            <p class="lead">Pantry Chef is a recipe-finder that helps you use what you already have. Just check off the ingredients from your pantry that you would like to use, and we will find you something good to eat. Sign up and log in to save your favorite recipes.
            </p>
        </div>
    </div>

<!-- User SignUp/LogIn -->
    <div class="login-container container-fluid row p-4 justify-content-center">
        <div class="signupCard rounded col-md-3">
            <h1 class="section-title"><span style="color:#C7C3BF;">Sign Up:</span></h1>
            <div class="signup-form">
                <form id="homepageSignupForm">
                    <div class="container">
                        <div class="mt-2">
                            <label><b>Username</b></label>
                            <input type="text" placeholder="Username" name="username" required id="HPusername-signup">
                        </div>
                        <div class="mt-2">
                            <label><b>Password</b></label>
                            <input type="password" placeholder="Enter Password" name="psw" id="HPpassword-signup" required>
                        </div>
                        <div class="mt-2">
                            <div>
                                <button class="btn btn-primary mb-3" type="submit" >Sign Up</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="loginCard rounded col-md-3">
            <h1 class="section-title">Log In:</h1>
            <div class="list-group">
                <form class="login-form ml-2">
                    <div class="mt-2">
                        <input class="form-control mr-sm-1 username" type="username" placeholder="Username"
                            aria-label="Username" id="username-login" required>
                    </div>
                    <div class="mt-2">
                        <input class="form-control mr-sm-1 password" type="password" placeholder="Password"
                            aria-label="Password" id="password-login" required>
                    </div>
                    <div class="mt-2">
                        <button class="btn btn-primary" type="submit">Log In</button>
                    </div>
                </form>
            </div>
    </div>
    </div>

<!-- Ingredients -->
    <div class="ingredients-container container-fluid row p-4" id="ingredient-form" data-api={{API_KEY}}>
        <h1 class="section-title">Ingredients:</h1>
        <form id="ingredient-form">
            <div class="row d-flex flex-wrap">
    
        <div class="col-sm-auto col-md-3 mb-3">
            <div class="card shadow rounded">
                <div class="card-header p-3">
                    <h5 class="card-title">Vegetables</h5>
                </div>
                <div class="card-body my-1 p-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="peas" id="peas">
                        <label class="form-check-label" for="peas">
                            Peas
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="carrots" id="carrots">
                        <label class="form-check-label" for="carrots">
                            Carrots
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="greenBeans" id="greenBeans">
                        <label class="form-check-label" for="greenBeans">
                            Green Beans
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="corn" id="corn">
                        <label class="form-check-label" for="corn">
                            Corn
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="broccoli" id="broccoli">
                        <label class="form-check-label" for="broccoli">
                            Broccoli
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="beets" id="beets">
                        <label class="form-check-label" for="beets">
                            Beets
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="bellPepper" id="bellPepper">
                        <label class="form-check-label" for="bellPepper">
                            Bell Pepper
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="summerSquash" id="summerSquash">
                        <label class="form-check-label" for="summerSquash">
                            Summer Squash
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="cabbage" id="cabbage">
                        <label class="form-check-label" for="cabbage">
                            Cabbage
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="brusselsSprouts" id="brusselsSprouts">
                        <label class="form-check-label" for="brusselsSprouts">
                            Brussels Sprouts
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="eggplant" id="eggplant">
                        <label class="form-check-label" for="eggplant">
                            Eggplant
                        </label>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col-sm-auto col-md-3 mb-3">
            <div class="card shadow rounded">
                <div class="card-header p-3">
                    <h5 class="card-title">Proteins</h5>
                </div>
                <div class="card-body my-1 p-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="tofu" id="tofu">
                        <label class="form-check-label" for="tofu">
                            Tofu
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="seitan" id="seitan">
                        <label class="form-check-label" for="seitan">
                            Seitan
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="eggs" id="eggs">
                        <label class="form-check-label" for="eggs">
                            Eggs
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="chicken" id="chicken">
                        <label class="form-check-label" for="chicken">
                            Chicken
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="duck" id="duck">
                        <label class="form-check-label" for="duck">
                            Duck
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="turkey" id="turkey">
                        <label class="form-check-label" for="turkey">
                            Turkey
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="bacon" id="bacon">
                        <label class="form-check-label" for="bacon">
                            Bacon
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="sausage" id="sausage">
                        <label class="form-check-label" for="sausage">
                            Sausage
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="pork" id="pork">
                        <label class="form-check-label" for="pork">
                            Pork
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="beef" id="beef">
                        <label class="form-check-label" for="beef">
                            Beef
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="lamb" id="lamb">
                        <label class="form-check-label" for="lamb">
                            Lamb
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="fish" id="fish">
                        <label class="form-check-label" for="fish">
                            Fish
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="squid" id="squid">
                        <label class="form-check-label" for="squid">
                            Squid
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="shrimp" id="shrimp">
                        <label class="form-check-label" for="shrimp">
                            Shrimp
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="lobster" id="lobster">
                        <label class="form-check-label" for="lobster">
                            Lobster
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="clams" id="clams">
                        <label class="form-check-label" for="clams">
                            Clams
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-auto col-md-3 mb-3">
            <div class="card shadow rounded">
                <div class="card-header p-3">
                    <h5 class="card-title">Dairy</h5>
                </div>
                <div class="card-body my-1 p-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="butter" id="butter">
                        <label class="form-check-label" for="butter">
                            Butter
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="cream" id="cream">
                        <label class="form-check-label" for="cream">
                            Cream
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="milk" id="milk">
                        <label class="form-check-label" for="milk">
                            Milk
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="buttermilk" id="buttermilk">
                        <label class="form-check-label" for="buttermilk">
                            Buttermilk
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="softCheese" id="softCheese">
                        <label class="form-check-label" for="softCheese">
                            Soft Cheese
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="hardCheese" id="hardCheese">
                        <label class="form-check-label" for="hardCheese">
                            Hard Cheese
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="creamCheese" id="creamCheese">
                        <label class="form-check-label" for="creamCheese">
                            Cream Cheese
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="yogurt" id="yogurt">
                        <label class="form-check-label" for="yogurt">
                            Yogurt
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="sourCream" id="sourCream">
                        <label class="form-check-label" for="sourCream">
                            Sour Cream
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-auto col-md-3 mb-3">
            <div class="card shadow rounded">
                <div class="card-header p-3">
                    <h5 class="card-title">Fruits</h5>
                </div>
                <div class="card-body my-1 p-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="apple" id="apple">
                        <label class="form-check-label" for="apple">
                            Apple
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="watermelon" id="watermelon">
                        <label class="form-check-label" for="watermelon">
                            Watermelon
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="orange" id="orange">
                        <label class="form-check-label" for="orange">
                            Orange
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="pear" id="pear">
                        <label class="form-check-label" for="pear">
                            Pear
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="cherry" id="cherry">
                        <label class="form-check-label" for="cherry">
                            Cherry
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="strawberry" id="strawberry">
                        <label class="form-check-label" for="strawberry">
                            Strawberry
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="nectarine" id="nectarine">
                        <label class="form-check-label" for="nectarine">
                            Nectarine
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="grapes" id="grapes">
                        <label class="form-check-label" for="grapes">
                            Grapes
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="avocado" id="avocado">
                        <label class="form-check-label" for="avocado">
                            Avocado
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="mango" id="mango">
                        <label class="form-check-label" for="mango">
                            Mango
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="blueberries" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Blueberries
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="banana" id="banana">
                        <label class="form-check-label" for="banana">
                            Banana
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="raspberries" id="raspberries">
                        <label class="form-check-label" for="raspberries">
                            Raspberries
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="pineapple" id="pineapple">
                        <label class="form-check-label" for="pineapple">
                            Pineapple
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="grapeFruit" id="grapefruit">
                        <label class="form-check-label" for="grapefruit">
                            Grapefruit
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="peach" id="peach">
                        <label class="form-check-label" for="peach">
                            Peach
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-auto col-md-3 mb-3">
            <div class="card shadow rounded">
                <div class="card-header p-3">
                    <h5 class="card-title">Nuts and Seeds</h5>
                </div>
                <div class="card-body my-1 p-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="almonds" id="almonds">
                        <label class="form-check-label" for="almonds">
                            Almonds
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="pineNuts" id="pineNuts">
                        <label class="form-check-label" for="pineNuts">
                            Pine Nuts
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="cashews" id="cashews">
                        <label class="form-check-label" for="cashews">
                            Cashews
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="pecans" id="pecans">
                        <label class="form-check-label" for="pecans">
                            Pecans
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="pistachios" id="pistachios">
                        <label class="form-check-label" for="pistachios">
                            Pistachios
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="peanuts" id="peanuts">
                        <label class="form-check-label" for="peanuts">
                            Peanuts
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="walnuts" id="walnuts">
                        <label class="form-check-label" for="walnuts">
                            Walnuts
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="hazelnuts" id="hazelnuts">
                        <label class="form-check-label" for="hazelnuts">
                            Hazelnuts
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="flaxSeeds" id="flaxSeeds">
                        <label class="form-check-label" for="flaxSeeds">
                            Flax Seeds
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="sesameSeeds" id="sesameSeeds">
                        <label class="form-check-label" for="sesameSeeds">
                            Sesame Seeds
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="poppySeeds" id="poppySeeds">
                        <label class="form-check-label" for="poppySeeds">
                            Poppy Seeds
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="sunflowerSeeds" id="sunflowerSeeds">
                        <label class="form-check-label" for="sunflowerSeeds">
                            Sunflower Seeds
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="chiaSeeds" id="chiaSeeds">
                        <label class="form-check-label" for="chiaSeeds">
                            Chia Seeds
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="macadamiaNuts" id="macadamiaNuts">
                        <label class="form-check-label" for="macadamiaNuts">
                            Macadamia Nuts
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-auto col-md-3 mb-3">
            <div class="card shadow rounded">
                <div class="card-header p-3">
                    <h5 class="card-title">Grains</h5>
                </div>
                <div class="card-body my-1 p-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="wheat" id="wheat">
                        <label class="form-check-label" for="wheat">
                            Wheat
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="oats" id="oats">
                        <label class="form-check-label" for="oats">
                            Oats
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="whiteRice" id="whiteRice">
                        <label class="form-check-label" for="whiteRice">
                            White Rice
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="brownRice" id="brownRice">
                        <label class="form-check-label" for="brownRice">
                            Brown Rice
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="barley" id="barley">
                        <label class="form-check-label" for="barley">
                            Barley
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="sorghum" id="sorghum">
                        <label class="form-check-label" for="sorghum">
                        Sorghum
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="rye" id="rye">
                        <label class="form-check-label" for="rye">
                            Rye
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="millet" id="millet">
                        <label class="form-check-label" for="millet">
                            Millet
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-auto col-md-3 mb-3">
            <div class="card shadow rounded">
                <div class="card-header p-3">
                    <h5 class="card-title">Staples</h5>
                </div>
                <div class="card-body my-1 p-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="bakingPowder" id="bakingPowder">
                        <label class="form-check-label" for="bakingPowder">
                            Baking Powder
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="bakingSoda" id="bakingSoda">
                        <label class="form-check-label" for="bakingSoda">
                            Baking Soda
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="balsamicVinegar" id="balsamicVinegar">
                        <label class="form-check-label" for="balsamicVinegar">
                            Balsamic Vinegar
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="bayLeaves" id="bayLeaves">
                        <label class="form-check-label" for="bayLeaves">
                            Bay Leaves
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="broth" id="broth">
                        <label class="form-check-label" for="broth">
                            Broth 
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="flour" id="flour">
                        <label class="form-check-label" for="flour">
                        Flour
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="peanutButter" id="peanutButter">
                        <label class="form-check-label" for="peanutButter">
                            Peanut Butter
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="brownSugar" id="brownSugar">
                        <label class="form-check-label" for="brownSugar">
                        Brown Sugar
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="whiteSugar" id="whiteSugar">
                        <label class="form-check-label" for="whiteSugar">
                        White Sugar
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="cornStarch" id="cornStarch">
                        <label class="form-check-label" for="cornStarch">
                            Corn Starch
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="honey" id="honey">
                        <label class="form-check-label" for="honey">
                        Honey
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="dryBeans" id="dryBeans">
                        <label class="form-check-label" for="dryBeans">
                            Dry Beans
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="pasta" id="pasta">
                        <label class="form-check-label" for="pasta">
                            Pasta
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="mustard" id="mustard">
                        <label class="form-check-label" for="mustard">
                            Mustard 
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="mayonnaise" id="mayonnaise">
                        <label class="form-check-label" for="mayonnaise">
                        Mayonnaise
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="worcestershireSauce" id="worcestershireSauce">
                        <label class="form-check-label" for="worcestershireSauce">
                            Worcestershire Sauce
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="oliveOil" id="oliveOil">
                        <label class="form-check-label" for="oliveOil">
                        Olive Oil
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="thyme" id="thyme">
                        <label class="form-check-label" for="thyme">
                            Thyme
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-secondary btn-lg mt-3" role="button">Find Recipes</button>
    </div>
    </form>
</div>

<!-- Results / My Recipes List -->
{{!-- the list of the returned recipes that matches the ingredients --}}
    <div class="recipelist-container container-fluid row p-4">
        <h1 class="section-title">Results:</h1>
        <ul class="list-group" id="searchResults">
            {{!-- Dynamic recipe links here --}}
        </ul>
    </div>

<!-- Recipes -->
<div class="recipes-container p-4">
    <h1 class="section-title">Recipes:</h1>
    <div class="row justify-content-center" >
        <div class="col-md-6 mb-3">
            <div class="card shadow rounded" style="min-width: 250px;" id="recipeCard">
                {{!-- <img class="card-img-top" src="images/beef_enchiladas.jpg" alt="Card image cap"> --}}
                <div class="card-body">
                    <h5 class="card-title" style="color: #ff9000" id="recipeTitle">Click on name to see recipe</h5>
                    <p class="card-text" style="color: #ffcf91"></p>
                </div>
                <ul id="ingredientList" class="list-group list-group-flush">
                    {{!-- <li class="list-group-item">8 flour tortillas</li>
                    <li class="list-group-item">1 lb ground beef</li>
                    <li class="list-group-item">1 can mild enchilada sauce</li>
                    <li class="list-group-item">1 can black bean and corn salsa</li>
                    <li class="list-group-item">2 cups shredded cheddar cheese</li> --}}
                </ul>
                <div class="card-body" id="directions">
                    <p >Directions</p>
                    {{!-- <p>2. Fold tortillas in half and place folded side down in dish and set aside.</p>
                    <p>3. cook ground beef over medium high heat until no longer pink. add 1/4 cup enchilada sauce, bean and corn salsa, and 1 cup of shredded cheese. Stir to combine.</p>
                    <p>4. Divide beef mixture evenly in folded tortillas; wrap tortillas around filling and roll so seam is facing down.</p>
                    <p>5. Top with remaining enchilada sauce and cheese. Cover with foil and bake 40-45 minutes.</p> --}}
                    
                </div>
                <div>
                    <a class="btn btn-primary btn-sm" data-bs-toggle="button" aria-pressed="false" autocomplete="off" id="recipeSaveBtn" role="button"><i class="bi bi-heart-fill"></i> Save</a>
                    {{#if loggedIn }}
                    <a href="/api/users/{{userID}}" class="btn btn-primary btn-sm" role="button">My Recipes</a>
                    {{else }}
                    <button  class="btn btn-primary btn-sm" disabled >Please log in to view recipes</button>
                    {{/if}}</div>
            </div>
        </div>   
    </div>
</div>