<!-- Results / My Recipes List -->
{{!-- the list of the returned recipes that matches the ingredients --}}
    <div class="recipelist-container container-fluid row p-4">
        <h1 class="section-title">Favorites:</h1>
        <ul class="list-group" id="favorites">
            {{Favorite}}
        </ul>
    </div>

<!-- Recipes -->
<div class="recipes-container p-4">
    <h1 class="section-title">Recipes:</h1>
    <div class="row justify-content-center" >
        <div class="col-md-6 mb-3">
            <div class="card shadow rounded" style="min-width: 250px;" id="recipeCard">
                
                <div class="card-body">
                    <h5 class="card-title" style="color: #ff9000" id="recipeTitle">Click on name to see recipe</h5>
                    <p class="card-text" style="color: #ffcf91"></p>
                </div>
                <ul id="ingredientList" class="list-group list-group-flush">
                    
                </ul>
                <div class="card-body" id="directions">
                    <p >Directions</p>
                    
                </div>
                <div>
                    <a class="btn btn-primary btn-sm m-3" data-bs-toggle="button" aria-pressed="false" autocomplete="off" id="recipeSaveBtn" role="button"><i class="bi bi-heart-fill"></i> Save</a>
                    {{#if loggedIn }}
                    <a href="/api/users/{{userID}}" class="btn btn-primary btn-sm m-3" role="button">My Favorites</a>
                    {{else }}
                    <button  class="btn btn-primary btn-sm m-3" disabled >Please log in to view Favorites</button>
                    {{/if}}</div>
            </div>
        </div>   
    </div>
</div>