<!-- Results / My Recipes List -->
{{!-- this should list out all of the recipe id's that the user has saved --}}
    <div class="recipelist-container container-fluid row p-4">
        <h1 class="section-title">Favorites:</h1>

        <div class="favorite">
            {{#each userFavorite.id as |id|}}
        <ul class="list-group" id="favorites">
            <li>{{id}}</li>
        </ul>
        </div>
    </div>