* {
    --primary: #ff9000;
    --secondary: #ffcf91;
    --tertiary: #0075b3;
    --quatrinary: #87d5ff;
    --light: #fde2bf;
    --neutral: #C7C3BF;
    --dark: #524f4d;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}
html {
    font-family: 'Architects Daughter', cursive;
    font-family: 'Overpass', sans-serif;
    font-family: 'Sansita', sans-serif;
    scroll-behavior: smooth;
}
.section-title {
    color: white;
    font-family: 'Sansita', sans-serif;
    font-size: 3.2rem;
}

/* Navbar Header */
.navbar {
    height: auto;
    background-color: var(--primary);
    border-bottom: 5px solid var(--dark);
}
.nav-container {
    width: 100%;
}
.brand {
    color: var(--secondary);
    font-family: 'Sansita', sans-serif;
    text-decoration: none;
    font-size: 3.2rem;
}
.home-link{
    text-decoration: none;
}
.logo {
    height: 75px;
    width: 75px;
}
.nav-link {
    color: var(--dark);
    margin-right: 15px;
}
.nav-link:hover {
    color: var(--primary);
    background-color: white;
}

/* Sign Up Modal */
.modal {
    width: 22rem;
    height: auto;
} 

/* Jumbotron */
.jumbotron {
    background-color: white;
    font-family: 'Overpass', sans-serif;
}
.home-image{
    height: auto;
    max-height: 450px;
    width: 80%;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    margin-bottom: 10px;
}

/* Ingredient Cards */
.ingredients-container {
    background-color: var(--light);
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 10px;
}
.card-header {
    background-color: var(--tertiary);
    /* border: 3px solid white; */
}
.card-title {
    color: var(--quatrinary);
    font-family: 'Sansita', sans-serif;
    font-size: 2.0rem;
}
.card-text {
    color: white;
    font-family: 'Overpass', sans-serif;
    font-size: 1.4rem;
}
.form-check-label {
    color: var(--tertiary);
    font-family: 'Architects Daughter', cursive;
}

/* Recipe Cards */
.recipelist-container {
    background-color: var(--tertiary);
    width: 100%;
    margin: 0px;
    padding: 10px;
}
.recipes-container {
    background-color: var(--quatrinary);
    width: 100%;
    margin: 0px;
    padding: 10px;
}
.card-img-top {
    height: auto;
    max-height: 160px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    margin-bottom: 10px;
}

/* Footer */
.footer {
    height: auto;
    background-color: #0075b3;
}
.footer-link{
    font-family: 'Overpass', sans-serif;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    padding: 5px;
    margin: 10px;
}
.footer-link:hover {
    color: var(--tertiary);
    background-color: white;
}