* {
    --primary: #ff9000;
    --secondary: #ffcf91;
    --tertiary: #0075b3;
    --quatrinary: #87d5ff;
    --light: #fde2bf;
    --dark: #524f4d;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

html {
    font-family: 'Architects Daughter', cursive;
    font-family: 'Overpass', sans-serif;
    font-family: 'Sansita', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--light);
}

.navbar {
    height: 100px;
    background-color: var(--primary);
}

.logo {
    height: 75px;
}

.brand {
    color: var(--secondary);
    font-family: 'Sansita', sans-serif;
    font-size: 4.0rem;
}

.nav-link {
    color: var(--dark);
}

.card-header {
    background-color: var(--tertiary);
}

.card-title {
    color: var(--quatrinary);
    font-family: 'Sansita', sans-serif;
}

.card-text {
    color: white;
    font-family: 'Overpass', sans-serif;
}

.form-check-label {
    color: var(--tertiary);
    font-family: 'Architects Daughter', cursive;
}

